img{
  width: 40%; 
  border: 3px solid black;
  margin-top: 0;
  margin-left: 30%;
  margin-right: 30%;
}
h1 {
  color: black;
  text-align: center;
}
h2 {
  color: black;
  text-align: center;
  font-style: oblique;
}
h3{
  text-align: center;
}
body{
  background-color: rgb(44, 175, 164);
}
p {
  font-family: sans-serif;
}
.about-me{
 padding: 50px;
  background-color: rgb(255, 149, 88);
  font-size: large;
}
ul {
  text-align: center;
  line-height: 40px;
}
em{
  font-weight: bold;
}
.column{
  float: left;
  text-align: center;
  width: 350px;
  margin: 10px;
  background-color:  rgb(224, 133, 80);
  display: block;
}
.column img{
  width: 20%;
}
.button{
  cursor: pointer;
  border: blue;
  text-align: center;
}