img{
  width: 40%; 
  border: 3px solid black;
  margin-top: 0;
  margin-left: 30%;
  margin-right: 30%;
}
h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: rgb(74, 74, 124);
  text-align: center;
  font-style: oblique;
}
body{
  background-color: rgb(199, 181, 181);
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
}
em{
  font-weight: bold;
}
.column{
  float: left;
  width: 350px;
  margin: 10px;
  background-color: aqua;
}